{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/appointment.css' %}">

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}



<div class="appointment-form-container">
    <form id="appointment-form" method="post" action="">
        {% csrf_token %}
        <label for="doctor">Doctor:</label>
        <select name="doctor" id="doctor" required>
            <!-- Dynamically load doctors -->
            {% for doctor in doctors %}
            <option value="{{ doctor.id }}">{{ doctor.name }} - {{doctor.specialization.all|join:", "}} </option>
            {% endfor %}
        </select>

        <label for="status">Status:</label>
        <select name="status" id="status" required>
            <option value="pending">Pending</option>
            <option value="confirmed">Confirmed</option>
            <option value="cancelled">Cancelled</option>
        </select>

        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>

        <label for="time">Time:</label>
        <select name="time" id="time" required>
            <!-- Populate available time slots here -->
            {% for slot in time_slots %}
            <option value="{{ slot.0 }}", >{{ slot.0 }} </option>
            {% endfor %}
        </select>


        <input type="submit" value="Book Appointment">
    </form>
</div>
{% endblock %}
