{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseases</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/medicine.css' %}" /> 
    <!-- Include additional CSS files if needed -->
</head>
<body>

<div class="container mt-5">
    <a href="{% url 'index' %}" class="btn btn-primary mb-4">Home</a>
    <h1 class="mb-4">Medical Conditions</h1>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for condition in diseases %}
                    <tr>
                        <td>{{ condition.name }}</td>
                        <td>{{ condition.description }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">No medical conditions found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
