{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

<div class="patient-profile">
    <h2>Patient Profile: {{ patient.name }}</h2>
    <div class="details">
        <p><strong>Email:</strong> {{ patient.email }}</p>
        <p><strong>Phone:</strong> {{ patient.phone }}</p>
        <p><strong>Address:</strong> {{ patient.address }}</p>
        <p><strong>Age:</strong> {{ patient.age }}</p>
        <p><strong>Gender:</strong> {{ patient.gender }}</p>
        <p><strong>Illness:</strong> {{ patient.illness }}</p>
    </div>
    <div class="actions">
        <a href="{% url 'add_medical_history' patient.id %}" class="button">Add Medical History</a>
        
    </div>
</div>
{% endblock %}
