{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptoms</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/medicine.css' %}" /> 
    <!-- Include additional CSS files if needed -->
</head>
<body>

<div class="container mt-5">
    <a href="{% url 'index' %}" class="btn btn-primary mb-4">Home</a>
    <h1 class="mb-4">Symptoms</h1>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Severity</th>
                    <th>Commonness</th>
                    <th>Possible Treatment</th>
                    <th>Related Diseases</th>
                </tr>
            </thead>
            <tbody>
                {% for symptom in symptoms %}
                    <tr>
                        <td>{{ symptom.name }}</td>
                        <td>{{ symptom.description }}</td>
                        <td>{{ symptom.severity }}</td>
                        <td>{{ symptom.commonness }}</td>
                        <td>{{ symptom.possible_treatment }}</td>
                        <td>
                            <ul>
                                {% for disease in symptom.related_diseases.all %}
                                    <li>{{ disease.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">No symptoms found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
